@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/HomeStyle.css"/>
    </head>
 <body>

    <div class="index-page">
        <div class="background"></div>
        <div class="circlelogo"></div>
        <div class="content">
            <h1>Welcome to Odi Empire Municipality</h1>
            <p>Welcome to the Odi Empire Municipality website, your hub for staying connected with local services and community updates. 
                Our platform allows residents to easily report issues such as road repairs or public safety concerns, 
                stay informed on local events and announcements, and track the status of service requests in real-time.
                We're dedicated to improving the quality of life for our community by providing a simple, transparent, 
                and accessible way to engage with municipal services.</p>
        </div>
        <div class="button-container">
            <a href="@Url.Action("ReportIssues", "Home")" class="button">Report Issues</a>
            <a href="#local-events" class="button">Local Events and Announcements</a>
            <a href="#service-status" class="button">Service Request Status</a>
        </div>
    </div>
</body>
</html>